export(n_ztest)
export(power_ztest)
export(n_ttest)
export(power_ttest)
export(n_ancova)
#export(power_ancova)
export(n_chisq)
export(power_binomial)
export(n_fisher_boschloo)
export(n_ftest)
export(power_ftest)
export(n_chisq_mult_groups)
export(power_chisq_mult_groups)

S3method(print, n_ztest)
S3method(print, n_ttest)
S3method(print, n_ancova)
S3method(print, n_chisq)
S3method(print, n_fisher_boschloo)
S3method(print, n_ftest)
S3method(print, n_chisq_mult_groups)

importFrom("MASS", "fractions")
importFrom("BiasedUrn", "pFNCHypergeo")
importFrom("stats",
           "dbinom", "pbinom",
           "qt", "pt",
           "qnorm", "pnorm",
           "qchisq", "pchisq",
           "qf", "pf"
           )
